---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import Blog from '../components/Blog.astro';
---

<Layout title="Address Advisors - The Only Real Estate Consultants You'll Ever Need">
  <Header />
  <main>
    <Hero />
    <Services />
    <About />
    <Blog />
    <Contact />
  </main>
  <Footer />
</Layout>
